@import '../../styles/vars.scss';

.home {
	width: 100%;
	height: 100%;
	max-width: 1400px;
	@include xl {
		max-width: 990px;
	}
	@include lg {
		max-width: 800px;
	}
	@include md {
		max-width: 600px;
	}
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 20px 20px 0px;

	&__img {
		background: $red-color;
		width: 468px;
		aspect-ratio: 1/1;
		@include xl {
			max-width: 400px;
		}
		@include lg {
			max-width: 300px;
		}
		@include md {
			max-width: 250px;
		}
		border-radius: 50%;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -20px;
			left: 10px;
			width: 450px;
			@include xl {
				max-width: 400px;
			}
			@include lg {
				max-width: 300px;
			}
			@include md {
				max-width: 250px;
			}
			aspect-ratio: 1/1;
			background-image: url('../../assets/svg/pngwing\ 3.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.2s ease-in-out;
		}
	}

	&__quote {
		color: var(--text-active-color);
		font-family: 'Comforter Brush';
		font-size: 34px;
		line-height: 39px;
		text-align: center;
		transition: all 0.2s ease-in-out;
		@include sm {
			font-size: 24px;
			line-height: 30px;
		}
	}
	&__bottom {
		// margin-top: auto;
		justify-self: end;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}

	&__crow {
		width: 133px;
		height: 107px;
		@include xl {
			max-width: 100px;
		}
		@include lg {
			max-width: 80px;
		}
		@include md {
			max-width: 65px;
		}
		align-self: flex-end;
		transition: all 0.2s ease-in-out;
	}
}

.light {
	.home__crow {
		filter: brightness(0) saturate(100%) invert(9%) sepia(7%)
			saturate(3450%) hue-rotate(170deg) brightness(93%) contrast(90%);
	}
	.home__img::after {
		filter: invert(1);
	}
}
