@import '../../styles/vars.scss';

.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 20px 20px 0px;

	&__img {
		background: $red-color url('../../assets/svg/pngwing\ 3.svg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 468px;
		aspect-ratio: 1/1;
		border-radius: 50%;
	}

	&__quote {
		color: var(--text-active-color);
		font-family: 'Comforter Brush';
		font-size: 34px;
		line-height: 39px;
		text-align: center;
	}

	&__crow {
		background-image: url('../../assets/svg/crow.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 133px;
		height: 107px;
		align-self: flex-end;
		transition: all 0.2s ease-in-out;
	}
}

.light .home__crow {
	filter: brightness(0) saturate(100%) invert(9%) sepia(7%) saturate(3450%)
		hue-rotate(170deg) brightness(93%) contrast(90%);
}
