@import '../../styles/vars.scss';

.footer {
	margin-top: auto;
	width: 100%;
	background: linear-gradient(180deg, #99b5d8 0%, rgba(153, 181, 216, 0) 100%),
		$hover-color;
	color: var(--text-active-color);
	&__container {
		padding: 9px 20px;

		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		&_img {
			width: 80px;
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
				saturate(0%) hue-rotate(344deg) brightness(106%) contrast(101%);
			transition: filter 0.2s ease-in-out;
		}
	}
	&__link {
		transition: all 0.2s ease-in-out;
	}
	&__link:hover {
		color: var(--bg-color);
	}
	&__logo_img:hover {
		filter: brightness(0) saturate(100%) invert(8%) sepia(41%)
			saturate(649%) hue-rotate(169deg) brightness(90%) contrast(90%);
	}
	&__year {
		user-select: none;
		transition: all 0.2s ease-in-out;
	}
}

.light .footer__logo_img {
	filter: brightness(0) saturate(100%) invert(8%) sepia(41%) saturate(649%)
		hue-rotate(169deg) brightness(90%) contrast(90%);
	&:hover {
		filter: brightness(0) saturate(100%) invert(100%) sepia(99%)
			saturate(2%) hue-rotate(121deg) brightness(102%) contrast(101%);
	}
}
