@import '../../styles/vars.scss';

.footer {
	width: 100%;
	background: linear-gradient(180deg, #99b5d8 0%, rgba(153, 181, 216, 0) 100%),
		$hover-color;
	color: $text-active-color;
	&__container {
		padding: 18px 20px;

		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		&_img {
			width: 80px;
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
				saturate(0%) hue-rotate(344deg) brightness(106%) contrast(101%);
			transition: filter 0.2s ease-in-out;
		}
	}
	&__link {
		transition: all 0.2s ease-in-out;
	}
	&__link:hover,
	&__logo_img:hover {
		filter: brightness(0) saturate(100%) invert(7%) sepia(4%)
			saturate(6869%) hue-rotate(171deg) brightness(98%) contrast(88%);
	}
	&__year {
		user-select: none;
	}
}
