/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local(''), url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--green: #4b9200;
	--orang: #f9804b;
	--yellow: #ffee2e;
	--orang_grad: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	--pink_grad: linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	--rad: #d31414;
	--frosted_glass_white: #fdfdff;
	--light_gray: #f1f3f2;
	--gray_smoky: #ababab;
	--gray: #767474;
	--black_blue: #333b41;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: var(--black_blue);
}

.section-wrapper {
	width: 100%;
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
}

.btn {
	display: block;
	width: 100%;
	max-width: 298px;
	padding: 16px 0;
	border-radius: 5px;
	border: none;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	transition: all ease-in-out 0.2s;
}

.btn--round {
	border-radius: 25px;
}

.btn--orange {
	background-color: var(--orang);
}

.btn--orange:hover {
	background-color: #e47209;
}
.btn--orange:focus {
	background-color: var(--green);
}

.btn--disabled {
	background-color: var(--gray);
}

/* Header styles */

.header-wrapper {
	background-color: #000000;
	backdrop-filter: blur(2px);
	position: absolute;
	top: 0;
	left: 0;
}

.header-container {
	padding: 13px 0;
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 63px;
	max-width: 82px;
	padding: 3px 4px;

	position: relative;

	border: 1px solid #ffffff;
	border-radius: 2px;
}

.logo_title {
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 120%;
	text-align: center;
	margin: 0;

	color: #ffffff;
}

.logo_img {
	width: 12px;
	height: 21px;

	position: absolute;

	left: 9px;
	bottom: 10px;
}

.nav {
	width: 100%;
	color: #ffffff;
}

.nav_list {
	list-style: none;
	display: flex;
	gap: 58px;
}

.nav_item--last {
	margin-left: auto;
}

.nav_link {
	color: #ffffff;
	text-decoration: none;
}
.nav_link:hover,
.nav_link--active {
	color: var(--orang);
}
.nav_link--active {
	cursor: default;
}
