/* roboto-100 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local(''), url('../fonts/roboto-v30-latin-100.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local(''), url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--green: #4b9200;
	--orang: #f9804b;
	--yellow: #ffee2e;
	--orang_grad: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
	--pink_grad: linear-gradient(
		315.75deg,
		rgba(254, 189, 171, 0.74) 30.06%,
		rgba(243, 169, 248, 0.66) 50.74%,
		#e0d8f0 80.49%,
		#eaf7fe 127.9%,
		#eaf7fe 149.54%
	);
	--rad: #d31414;
	--frosted_glass_white: #fdfdff;
	--light_gray: #f1f3f2;
	--gray_smoky: #ababab;
	--gray: #767474;
	--black_blue: #333b41;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: var(--black_blue);
}

.section-wrapper {
	width: 100%;
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1320px;
	padding-right: 80px;
	padding-left: 80px;
}
@media screen and (max-width: 1460px) {
	.container {
		max-width: 1460px;
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (max-width: 1000px) {
	.container {
		max-width: 1000px;
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (max-width: 880px) {
	.container {
		max-width: 880px;
		padding-right: 20px;
		padding-left: 20px;
	}
}

.btn {
	display: block;
	width: 100%;
	max-width: 298px;
	padding: 16px 0;
	border-radius: 5px;
	border: none;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: #ffffff;
	transition: all ease-in-out 0.2s;
}

.btn--center {
	margin: 0 auto;
}

.btn--left {
	margin-right: auto;
}

.btn--right {
	margin-left: auto;
}

.btn--small {
	max-width: 129px;
	padding: 9px 0;
	border: 1px solid var(--black_blue);

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-transform: none;

	color: var(--black_blue);
}

.btn--small:hover,
.btn--small:focus {
	border: 1px solid var(--green);
	color: var(--green);
}

.btn--footer {
	margin-bottom: 43px;
}

.btn--round {
	border-radius: 25px;
}

.btn--orange {
	background-color: #e47209;
	background-image: linear-gradient(
		113.96deg,
		#f9804b 1.49%,
		#fe9013 101.44%
	);
	transition: all ease-in-out 0.2s;
}

.btn--orange:hover {
	background: #e47209;
	background-image: none;
}
.btn--orange:focus,
.btn--orange:active {
	background-color: var(--green);
	background-image: none;
}

.btn--disabled {
	background-color: var(--gray);
	background-image: none;
}

/* Header styles */

.header-wrapper {
	background-color: #000000;
	backdrop-filter: blur(2px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.header-container {
	padding-top: 13px;
	padding-bottom: 13px;
	display: flex;
	align-items: center;
}

.logo {
	cursor: pointer;
	user-select: none;
	margin-right: 63px;
	max-width: 82px;
	padding: 3px 4px;

	position: relative;

	border: 1px solid #ffffff;
	border-radius: 2px;
}
.logo:hover {
	filter: brightness(0) saturate(100%) invert(66%) sepia(98%) saturate(2529%)
		hue-rotate(329deg) brightness(103%) contrast(95%);
}
.logo_title {
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 120%;
	text-align: center;
	margin: 0;

	color: #ffffff;
}

.logo_img {
	width: 12px;
	height: 21px;

	position: absolute;

	left: 9px;
	bottom: 10px;
}

.nav {
	width: 100%;
	color: #ffffff;
}

.nav_list {
	list-style: none;
	display: flex;
	gap: 58px;
}

.nav_item--last {
	margin-left: auto;
}

.nav_link {
	color: #ffffff;
	text-decoration: none;
}
.nav_link:hover,
.nav_link--active {
	color: var(--orang);
}
.nav_link--active {
	pointer-events: none;
	cursor: unset;
}
.burger_nav {
	display: none;
}
.burger_button {
	display: none;
}

@media screen and (max-width: 1000px) {
	.nav_list {
		gap: 48px;
	}
}

@media screen and (max-width: 880px) {
	.logo_link {
		display: flex;
		justify-content: start;
	}
	.nav {
		display: none;
	}
	.logo {
		border: none;
	}

	.header-container {
		padding: 10px 20px;
		justify-content: space-between;
	}
	.btn--right {
		margin-left: 0;
		margin-right: auto;
	}

	.burger_nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.nav_list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
	}
	.burger_button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		gap: 2px;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

@media screen and (max-width: 640px) {
	.logo {
		border: none;
		padding-top: 3px;
		padding-bottom: 1px;
	}
	.header-container {
		padding: 0 20px 0 0;
	}
	.logo_title {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
	}
	.logo_img {
		width: 12px;
		height: 15px;
		left: 19px;
		bottom: 7px;
	}
}

.burger--active {
	display: block;
}
.burger_button-line {
	display: block;
	height: 2px;
	width: 18px;
	background-color: #fff;
	border-radius: 2px;
}

/* Footer styles */

.footer-wrapper {
	background-color: #111115;
}

.footer-container {
	display: flex;
	padding-top: 40px;
	padding-bottom: 50px;
}
.footer_block--left {
	width: 100%;
	margin-right: 35px;
}

.footer-logo {
	margin-bottom: 68px;
	margin-right: 0;
}

.social {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 10px;
}

.social_link-cont {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 12px;

	font-size: 16px;
	line-height: 22px;
	text-decoration: none;

	color: #ffffff;

	transition: all 0.2s ease-in-out;
}

.social_link-cont:hover {
	color: var(--green);
}
.social_link-cont:hover .social_link-img-cont {
	background-color: var(--green);
}

.social_link-img-cont {
	width: 26px;
	height: 26px;
	background-color: rgba(196, 196, 196, 0.5);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.social_link-img {
	height: max-content;
}

.footer_block--center {
	width: 100%;
	margin-right: 31px;
	display: flex;
	align-items: end;
}

.footer_block--right {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.subscribe_label {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #ffffff;
}

.submit_form {
	margin-top: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.submit_input {
	background-color: transparent;
	border: 0.7px solid var(--orang);
	border-radius: 2px;
	outline: none;
	text-indent: 10px;
	width: 100%;
	padding: 9px 7px 9px 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #ffffff;
}

.submit_input:focus {
	color: #4b9200;
	border: 0.7px solid #4b9200;
}

.submit_input:focus::placeholder {
	color: #4b9200;
}

.submit_input:invalid {
	color: #d31414;
	border: 0.7px solid #d31414;
}

.submit_input:focus ~ .btn--small {
	color: var(--green);
	border: 1px solid var(--green);
}

.submit_input:invalid ~ .btn--small {
	color: #d31414;
	border: 1px solid #d31414;
}

.submit_input:placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #bdbdbd;
}

.footer_info {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-info--text {
	font-weight: 100;
	font-size: 16px;
	line-height: 21px;

	color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1000px) {
	.footer_block--left {
		width: 298px;
		flex-shrink: 0;
		margin-right: 0;
	}
	.nav--footer {
		position: relative;
		right: 7px;
		z-index: 3;
	}
	.footer_block--right {
		position: relative;
		right: 13%;
	}
	.submit_input {
		width: 228px;
	}
	.btn--small {
		width: 129px;
	}
	.footer_info {
		position: relative;
		right: -9%;
	}
}

.footer--small {
	display: none;
}

@media screen and (max-width: 990px) {
	.footer--large {
		display: none;
	}
	.footer--small {
		display: flex;
		position: relative;
	}
	.footer-container {
		flex-direction: column;
	}
	.footer-top-container {
		display: flex;
		flex-direction: column;
		width: 85%;
	}
	.footer-social {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 300px;
		align-items: flex-end;
		padding-right: 20px;
		padding-top: 12px;
	}
	.footer-logo {
		border: 1px solid #ffffff;
		border-radius: 2px;
	}
	.footer-bot-container {
		display: flex;
		justify-content: space-between;
	}
	.nav--footer {
		position: static;
		display: flex;
	}
	.nav_list--footer {
		flex-direction: row;
	}
	.footer_info {
		position: static;
	}
	.footer-info--text {
		margin-left: 0;
		width: 228px;
		flex-shrink: 0;
		font-size: 16px;
		line-height: 21px;
	}
}

@media screen and (max-width: 640px) {
	.footer-container {
		padding-top: 12px;
		padding-bottom: 14px;
	}
	.footer-logo {
		margin-bottom: 33px;
	}
	.footer-logo-title {
		font-size: 19.0145px;
		line-height: 23px;
	}
	.footer-logo-img {
		width: 12px;
		height: 21px;

		position: absolute;

		left: 9px;
		bottom: 10px;
	}
	.footer-social {
		gap: 20px;
	}
	.btn--footer {
		margin-bottom: 65px;
	}
	.nav_list--footer {
		gap: 37px;
	}
}
@media screen and (max-width: 570px) {
	.footer-container {
		padding-top: 12px;
		padding-bottom: 14px;
		align-items: center;
	}

	.footer-top-container {
		justify-content: center;
		align-items: center;
	}
	.footer-logo {
		margin-bottom: 30px;
		border: none;
		max-width: max-content;
	}
	.footer-logo-title {
		font-size: 19.0145px;
		line-height: 23px;
	}
	.footer-logo-img {
		width: 10px;
		height: 21px;

		left: 77px;
		bottom: 7px;
	}
	.footer-social {
		position: static;
		flex-direction: row;
		gap: 30px;
		padding: 0 0 30px;
	}
	.btn--footer {
		margin-bottom: 65px;
	}
	.footer-bot-container {
		width: 100%;
		flex-direction: column-reverse;
		align-items: center;
		gap: 30px;
	}
	.nav--footer {
		width: 100%;
		justify-content: center;
	}
	.nav_list--footer {
		gap: 37px;
	}
	.footer_info {
		margin: 0;
		gap: 13px;
		align-self: flex-end;
	}
}
