.don-hero-wrapper {
	background-image: url('../img/panda_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.don-hero-container {
	padding-top: 387px;
}

@media screen and (max-width: 1000px) {
	.don-hero-container {
		padding-top: 391px;
	}
	.don-hero-wrapper {
		background-position: 29%;
	}
}

@media screen and (max-width: 880px) {
	.don-hero-container {
		padding-top: 335px;
	}
}

@media screen and (max-width: 640px) {
	.don-hero-container {
		padding-top: 335px;
	}
	.don-hero-wrapper {
		background-position: 37%;
	}
}

.donate-wrapper {
	padding: 40px 0 180x;

	background-image: var(--orang_grad);
}

.donate-container {
	padding-top: 40px;
	padding-bottom: 181px;
}

.help {
	margin-bottom: 45px;

	color: #ffffff;
}

.help_title {
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 36px;
	line-height: 47px;
}

.help_text {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.help_text--span {
	font-weight: 300;
	letter-spacing: 0.1px;
}

.donate_title {
	margin-bottom: 60px;

	text-align: left;
	font-weight: 400;
	font-size: 36px;
	line-height: 47px;

	color: #fe9013;
}

@media screen and (max-width: 1000px) {
	.help_title {
		max-width: 778px;
		padding-bottom: 30px;
	}
	.donate_title {
		margin-bottom: 41px;
	}
	.donate-container {
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 640px) {
	.donate-container {
		padding-top: 30px;
		padding-bottom: 46px;
	}
	.help_title {
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 20px;
	}
	.donate_title {
		margin-bottom: 30px;
	}
	.help {
		margin-bottom: 30px;
	}
}

.make-donation_container {
	width: 100%;
	padding: 40px 92px 61px;

	background: rgba(255, 255, 255, 0.52);
	backdrop-filter: blur(2px);
	border-radius: 20px;
}

.make-donation_title {
	padding-right: 12px;
	padding-bottom: 21px;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	text-align: center;

	color: #fe9013;
}

.make-donation_text {
	padding-bottom: 107px;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: var(--black_blue);
}

@media screen and (max-width: 1000px) {
	.make-donation_container {
		padding: 20px 45px 45px;
	}
	.make-donation_title {
		padding-bottom: 11px;
	}
	.s5000-container {
		display: none !important;
	}

	.nav_don--footer {
		position: relative;
		z-index: 5;
		right: -6px;
	}
}

@media screen and (max-width: 640px) {
	.make-donation_container {
		padding: 30px 0 30px;
	}
	.make-donation_title {
		padding-bottom: 19px;
		padding-left: 12px;
	}
	.make-donation_text {
		text-align: center;
		padding-bottom: 100px;
	}
	.s2000-container,
	.s1000-container {
		display: none !important;
	}
}

.pick-donation_form {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-bottom: 97px;
}

.pick-donation_form--radio {
	width: 100%;
	padding-right: 55px;
	padding-left: 11px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #404950;
	border-radius: 2px;
	height: 27px;
}
.pick-donation_form--radio::before {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	left: 25px;
	right: 35px;
	height: 2px;
	z-index: 0;
	background-color: #72828e;
}

.donation_container {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;

	font-weight: 500;
	font-size: 26px;
	line-height: 36px;

	text-transform: uppercase;

	color: #333b41;
}

.donation_radio {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.donation_checkmark {
	position: absolute;
	top: -6px;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 40px;
	width: 40px;
	background-color: transparent;

	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.donation_checkmark::before {
	content: url('../icons/roller_icon.svg');
	position: absolute;
	padding: 5px;
	top: -5px;
	left: -5px;
	z-index: 2;
	width: 50px;
	height: 50px;
	display: none;
}

.donation_checkmark:hover::before {
	display: block;
}

.donation_checkmark--inner {
	height: 10px;
	width: 10px;
	background-color: #ffee2e;
	border-radius: 50%;
}

.donation_radio:checked ~ .donation_checkmark::before {
	display: block;
}
.donation_radio:checked ~ .labels-list_item,
.donation_radio:checked ~ .labels-list_item > span {
	color: #fe9013;
}

@media screen and (max-width: 1000px) {
	.pick-donation_form--radio {
		padding-left: 0px;
		padding-right: 34px;
	}
	.pick-donation_form--radio::before {
		right: 15px;
	}

	.pick-donation_form {
		padding-right: 20px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 640px) {
	.pick-donation_form--radio {
		padding-left: 20px;
		padding-right: 60px;
	}
	.pick-donation_form--radio::before {
		right: 7%;
		left: 7%;
	}

	.pick-donation_form {
		padding-right: 0;
		padding-left: 0;
	}
}

.labels-list_item {
	position: absolute;
	top: 39px;
	left: -12px;
	cursor: pointer;
	font-weight: 500;
	font-size: 26px;
	line-height: 36px;
	text-transform: uppercase;

	color: #333b41;
}

.labels-list_item > span {
	font-weight: 700;
	font-size: 22px;
	line-height: 36px;
	text-transform: uppercase;

	color: #333b41;
}

.pre-form_title {
	padding-left: 4px;
	padding-bottom: 17px;
	text-align-last: left;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #000000;
}

.panda-widget {
	margin: 0 auto;
	margin-bottom: 44px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.panda-widget_diet {
	margin-right: 11px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 11px;
}

.diet_number {
	font-weight: 500;
	font-size: 72px;
	line-height: 58px;

	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.diet_info {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	text-align: center;

	color: #333b41;
}

.panda-widget_multiplier {
	margin-right: 64px;
	padding-bottom: 20px;
}

.panda-widget_img {
	padding-right: 30px;
}
.don_input--container {
	position: relative;
	width: 100%;
	max-width: 268px;
	margin: 0 auto 14px;
}

.donation-input {
	display: block;
	background-color: transparent;
	outline: none;
	text-indent: 9px;
	padding: 16px 0;
	width: 100%;
	border: 1px solid #929699;
	border-radius: 2px;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #404950;
}

.donation-input--dollar {
	content: '$';
	position: absolute;
	width: 10px;
	height: 20px;
	top: 17px;
	right: 10px;
	font-size: 20px;
	color: #929699;
	user-select: none;
}

.donation-input::-webkit-inner-spin-button,
.donation-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.donation-input:focus {
	color: #4b9200;
	border: 1px solid #4b9200;
}

.donation-input:focus::placeholder,
.donation-input:focus ~ .donation-input--dollar {
	color: #4b9200;
}

.donation-input:invalid {
	color: #d31414;
	border: 1px solid #d31414;
}
.donation-input:invalid ~ .donation-input--dollar {
	color: #d31414;
}

.donation-input:placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #bdbdbd;
}

.payment-option {
	padding-right: 15px;
	margin-bottom: 26px;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.payment_radio {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.payment {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;

	font-weight: 500;
	font-size: 26px;
	line-height: 36px;

	color: #333b41;
}

.payment_checkmark {
	position: absolute;
	top: 12px;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 16px;
	width: 16px;
	background-color: transparent;

	border: 1px solid #fe9013;

	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.payment_label {
	padding-left: 26px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #333b41;
}

.payment_radio:checked ~ .payment_checkmark {
	background-color: var(--green);
	border: none;
}

.share-text {
	margin-top: 30px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #333b41;
}

@media screen and (max-width: 1000px) {
	.labels-list_item {
		left: 1px;
	}
	.pre-form_title {
		padding-left: 20px;
	}
}

@media screen and (max-width: 640px) {
	.panda-widget {
		margin-bottom: 35px;
	}
	.pre-form_title {
		padding-left: 10px;
		padding-bottom: 7px;
	}
	.don_input--container {
		max-width: 180px;
		margin-bottom: 20px;
	}
	.donation-input,
	.donation-input::placeholder {
		font-size: 16px;
		line-height: 22px;
		padding: 10px 0;
	}
	.labels-list_item {
		left: -4px;
	}
}
@media screen and (max-width: 560px) {
	.panda-widget_img {
		padding-right: 0;
	}
}

@media screen and (max-width: 480px) {
	.don-hero-wrapper {
		background-position: 33%;
	}
	.don-hero-container {
		padding-top: 187px;
	}
	.donate-container {
		padding-bottom: 21px;
	}
	.donate_title {
		font-size: 24px;
		line-height: 29px;
	}
	.make-donation_container {
		padding: 20px 0 20px;
	}
	.make-donation_title {
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 10px;
	}
	.make-donation_text {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 38px;
	}
	.panda-widget_img {
		margin-right: 9px;
		width: 100%;
		max-width: 151px;
	}
	.panda-widget_img img {
		width: 100%;
	}
	.diet_number {
		font-size: 40px;
		line-height: 32px;
	}
	.diet_info {
		font-size: 9px;
		line-height: 13px;
	}
	.panda-widget_multiplier {
		margin-right: 30px;
		width: 8px;
		height: 8px;
		padding-bottom: 40px;
	}
	.panda-widget_multiplier img {
		width: 100%;
	}
	.panda-widget_diet {
		margin: 0;
		gap: 6px;
	}
	.panda-widget {
		justify-content: space-between;
		margin-bottom: 0;
	}
	.pre-form_title {
		padding-left: 0;
	}
	.pick-donation_form {
		padding-bottom: 48px;
	}
	.pick-donation_form--radio {
		height: 15px;
		padding-left: 10px;
		padding-right: 30px;
	}
	.pick-donation_form--radio::before {
		height: 1px;
		top: calc(50% - 0px);
	}
	.labels-list_item {
		font-size: 13px;
		line-height: 18px;

		top: 20px;
		left: -1px;
	}
	.labels-list_item > span {
		font-size: 10px;
		line-height: 14px;
	}

	.donation_checkmark {
		top: -2px;
		width: 20px;
		height: 20px;
	}

	.donation_checkmark--inner {
		height: 5px;
		width: 5px;
	}
	.donation_checkmark::before {
		padding: 0px;
		top: -7px;
		left: 1px;
		z-index: 2;
		width: 20px;
		height: 20px;
		display: none;
	}
	.don_input--container {
		margin-bottom: 13px;
	}
	.payment-option {
		margin-bottom: 23px;
	}
	.share-text {
		padding: 0;
		min-width: 301px;
	}
}
