@font-face {
	font-family: 'Sant Joan Despi';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../assets/fonts/SantJoanDespi-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pangolin-regular - latin_cyrillic */
@font-face {
	font-family: 'Pangolin';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../assets/fonts/pangolin-v11-latin_cyrillic-regular.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../assets/fonts/pangolin-v11-latin_cyrillic-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comforter-brush-regular - latin_cyrillic */
@font-face {
	font-family: 'Comforter Brush';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../assets/fonts/comforter-brush-v5-latin_cyrillic-regular.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../assets/fonts/comforter-brush-v5-latin_cyrillic-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import './vars.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;

	background-color: var(--bg-color);

	font-family: 'Pangolin', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;

	transition: all 0.2s ease-in-out;
	@include sm {
		font-size: 20px;
		line-height: 24px;
	}
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

button {
	all: unset;
	cursor: pointer;
	user-select: none;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='range'] {
	cursor: pointer;
	-webkit-appearance: none;
	background-image: linear-gradient($hover-color, $hover-color);
	background-size: 50% 100%;
	background-repeat: no-repeat;
}

/* Input Thumb */
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}

input[type='range']::-ms-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}

/* Input Track */
input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type='range']::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type='range']::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
