@import '../../../../styles/vars.scss';

.question-card {
	&__img {
		width: 227px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: $red-color;
		border: 0;
		position: relative;
		@include lg {
			width: 160px;
			height: 160px;
		}
		@include sm {
			width: 100px;
			height: 100px;
		}
		&::after {
			content: '';
			position: absolute;
			top: -10px;
			left: -20px;
			width: 227px;
			aspect-ratio: 1/1;
			background-image: url('../../../../assets/svg/pngwing\ 2.svg');
			background-position: center;
			background-size: contain;
			@include lg {
				width: 160px;

				top: 10px;
				left: 0;
			}
			@include sm {
				width: 100px;
				top: 10px;
				left: 0;
			}
		}
	}
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		&_top {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}
.question-card__img.active {
	border: 3px solid $hover-color;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
		visibility: hidden;
	}
}
