@import '../../../styles/vars.scss';

.quiz {
	width: 100%;
	max-width: 1400px;
	@include xl {
		max-width: 990px;
	}
	@include lg {
		max-width: 800px;
	}
	@include md {
		max-width: 600px;
	}
	flex: 1;
	padding: 25px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	&__question-card {
		padding: 18px 74px 18px 43px;

		width: 100%;

		display: flex;
		gap: 90px;

		background-color: $frame-color;
		border-radius: 13px;
		@include lg {
			padding: 10px 15px;
			gap: 20px;
		}
		@include sm {
			flex-direction: column;
			align-items: center;
		}
	}
	&__container-bottom {
		width: 100%;
		display: flex;
		gap: 45px;
		@include lg {
			gap: 20px;
		}
		@include md {
			flex-direction: column;
		}
	}
	&__next-lvl {
		width: 100%;
		padding: 15px 0;
		border-radius: 13px;
		background-color: $frame-color;
		text-align: center;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		transition: all 0.2s ease-in-out;
		@include md {
			padding: 6px;
		}
		&:disabled {
			opacity: 0.3;
			pointer-events: none;
			// background-color: $gray-color;
			// color: $frame-color;
		}
		&:hover,
		&:focus {
			background-color: $hover-color;
			color: $text-active-color;
		}
	}
}

.quiz-levels {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	@include xl {
		grid-template-columns: repeat(3, 1fr);
	}
	@include sm {
		grid-template-columns: repeat(2, 1fr);
	}
	border-radius: 13px;
	background-color: $frame-color;
	overflow: hidden;
	&__item {
		padding: 10px 0;
		width: 100%;
		text-align: center;
		line-height: 38px;
		user-select: none;
		@include md {
			padding: 0;
		}
	}
	.active {
		color: $text-active-color;
		background-color: $hover-color;
	}
}
